
body {
	background-color: black;
	color: white;
}

.ib {
	border: 1px solid transparent;
	color: white;
	background: #fc070766;
	padding: 10px 10px;
	border-radius: 5px;
	font-family: arial;
	font-weight: bold;
	font-size: 40px;
}

.ib:hover {
	background: white;
	color: red;
	transition: .7s;
}


.tag {
	font-family:fantasy;
	font-size: 30px;
	padding: 0 155px;
	color: #b83535;
	font-variant-caps: all-petite-caps;
    
}


.t_container {
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	padding: 10px 150px;
}


.t_container th {
	border: 1px solid red; 
	padding: 10px 18px;
}

.t_container td {
	border: 1px solid red; 
	padding: 10px 15px;
}

